<link rel="stylesheet" href="https://storage.googleapis.com/code.getmdl.io/1.0.0/material.indigo-deep_orange.min.css">
<script src="https://storage.googleapis.com/code.getmdl.io/1.0.0/material.min.js"></script>
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

<style>
  .quiz-card.mdl-card {
    top: 20px;
    margin: auto;
    background: #3E4EB8;
  }
  .quiz-card > .mdl-card__actions {
    border-color: rgba(255, 255, 255, 0.2);
  }
  .quiz-card > .mdl-card__title,
  .quiz-card > .mdl-card__actions > .mdl-button {
    color: #fff;
  }
  .quiz-card * {
      display: block;
  }
</style>

<div class="mdl-layout mdl-js-layout mdl-layout--fixed-drawer mdl-layout--overlay-drawer-button">
  <header class="mdl-layout__header">
    <div class="mdl-layout__header-row">
      <span class="mdl-layout-title"/>
    </div>
  </header>
  <div class="mdl-layout__drawer">
    <span class="mdl-layout-title">Demo Quiz App</span>
    <nav class="mdl-navigation">
         <a class="mdl-navigation__link" href="{% url 'polls:index' %}">Home</a>
    </nav>
  </div>
  <main class="mdl-layout__content">
    <form action="{% url 'polls:vote' question.id %}" method="post">
      <div class="mdl-card mdl-shadow--2dp quiz-card">
        <div class="mdl-card__title mdl-card--expand">
        <h3>{{ question.question_text }}</h3>

        {% csrf_token %}
        {% for choice in question.choice_set.all %}
        <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="choice{{ forloop.counter }}">
          <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}" class="mdl-radio__button"/>
          <span class="mdl-radio__label">{{ choice.choice_text }}</span>
        </label>
        {% endfor %}
        </div>
        <div class="mdl-card__actions mdl-card--border">
          <input type="submit" value="Vote" class="mdl-button mdl-js-button mdl-button--colored mdl-js-ripple-effect" />
        </div>
      </div>
    </form>
    {% if error_message %}<br/><p style="text-align: center;"><strong>{{ error_message }}</strong></p>{% endif %}
  </main>
</div>

