{% extends "admin/base.html" %}

{% block title %}{{ title }} | {{ site_title|default:_('Demo Poll App Site') }}{% endblock %}

{% block branding %}
<h1 id="site-name"><a href="{% url 'admin:index' %}">{{ site_header|default:_('Demo Poll App Site') }}</a></h1>   
{% endblock %}

{% block nav-global %}{% endblock %}
